*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    
.container{
    width: 100vw;
    height: 100vh;
    background: rgb(36, 36, 65);
    display: grid;
    place-items: center;
}



.main-heading{
    width: 80vw;
    height: 70vh;
    padding: 23px;
    display: grid;
    place-items: center;
    color: #fff;
    text-shadow: 0 1px 8px rgba(255, 255, 255, 0.5);
    font-size: 65px;
}